html {
  height: 100%;
  width: 100%;
}

body{
  background-color: #b8b8b8;
}
main {
  padding: 20px;
}
@media (max-width:768px) {
  header, footer {
    padding: 10px;
  }

  main {
    padding: 10px;
  }

}

@media (max-width: 480px) {
  header, footer {
    padding: 5px;

  }
}